<section class="p-1.5">
  <h2>{{ 'login.loginTitle' | translate }}</h2>
  <p class="text-sm text-gray-500 my-1">
    {{ 'login.loginSubtitle' | translate }}
  </p>

  <form [formGroup]="loginForm" (ngSubmit)="submitForm()" class="grid gap-y-4 mt-5.5">

    <!-- login -->
    <div class="relative">
      <input
        formControlName="login"
        type="text"
        id="login"
        [class]="{
          'border-green-600': loginForm.get('login')?.valid,
          'border-red-600': loginForm.get('login')?.invalid && loginForm.get('login')?.touched
        }"
        class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-heading bg-transparent rounded-base border border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
        placeholder=" "
      />

      <label
        for="login"
        class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-left bg-neutral-primary px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 inset-s-1"
      >
        <i class="fa-solid fa-at mr-1"></i>
        {{ 'login.emailOrUsername' | translate }}
      </label>
    </div>

    <!-- login alert -->
    @if (loginForm.get('login')?.invalid && loginForm.get('login')?.touched) {
      <div class="flex text-sm text-red-600" role="alert">
        <div>
          <ul class="mt-0 list-none list-outside space-y-1 ps-2.5">

            @if (loginForm.get('login')?.hasError('required')) {
              <li>{{ 'validation.loginRequired' | translate }}</li>
            }

            @else if (loginForm.get('login')?.hasError('minlength')) {
              <li>{{ 'validation.loginInvalid' | translate }}</li>
            }

          </ul>
        </div>
      </div>
    }

    <!-- password -->
    <div class="relative">
      <input
        #passwordd
        formControlName="password"
        type="password"
        id="password"
        [class]="{
          'border-green-600': loginForm.get('password')?.valid,
          'border-red-600': loginForm.get('password')?.invalid && loginForm.get('password')?.touched
        }"
        class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-heading bg-transparent rounded-base border border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
        placeholder=" "
      />

      <label
        for="password"
        class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-left bg-neutral-primary px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 inset-s-1"
      >
        <i class="fa-solid fa-key mr-1"></i>
        {{ 'login.password' | translate }}
      </label>

      <span
        (click)="showPassword(passwordd)"
        class="absolute top-1/2 inset-e-4 -translate-y-1/2 cursor-pointer"
      >
        <i
          [class]="passwordd.type === 'password' ? 'fa-eye-slash' : 'fa-eye'"
          class="fa-regular text-gray-700"
        ></i>
      </span>
    </div>

    <!-- password alert -->
    @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
      <div class="flex text-sm text-red-600" role="alert">
        <div>
          <ul class="mt-0 list-none list-outside space-y-1 ps-2.5">

            @if (loginForm.get('password')?.hasError('required')) {
              <li>{{ 'validation.passwordRequired' | translate }}</li>
            }

            @else if (loginForm.get('password')?.hasError('pattern')) {
              <li>{{ 'validation.passwordPattern' | translate }}</li>
            }

          </ul>
        </div>
      </div>
    }

    <!-- submit -->
    <button
      type="submit"
      class="btn cursor-pointer bg-mainColor text-white font-bold p-2.5 rounded-xl text-lg hover:translate-0.5 transition-all ease-in-out"
    >
      {{ 'login.loginButton' | translate }}

      @if (loading) {
        <i class="fas fa-spinner animate-spin"></i>
      }
    </button>

    <p class="text-center text-red-600">
      {{ msgError }}
    </p>

    <button
      type="button"
      class="mx-auto block text-sm font-semibold text-mainColor transition hover:underline cursor-pointer p-0 m-0"
    >
      {{ 'login.forgotPassword' | translate }}
    </button>

  </form>
</section>